section#about div.small-box:nth-child(1) div.solar-panels {
  flex-basis: 35%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("../imgs/solar-panels.svg");
}
section#about div.small-box:nth-child(1) div.lines {
  flex-basis: 30%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.lines div.line {
  width: 25%;
  height: 0.3em;
}
div.lines div.line:nth-child(1) {
  background-color: rgb(66, 208, 73);
  animation: loadingEnergy 1s ease-in-out infinite alternate;
}
div.lines div.line:nth-child(2) {
  background-color: rgb(66, 208, 73);
  animation: loadingEnergy 1s 0.33s ease-in-out infinite alternate;
}
div.lines div.line:nth-child(3) {
  background-color: rgb(66, 208, 73);
  animation: loadingEnergy 1s 0.66s ease-in-out infinite alternate;
}
section#about div.small-box:nth-child(1) div.piggy-bank {
  flex-basis: 35%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("../imgs/piggy-bank.svg");
}
section#about div.small-box:nth-child(2) div.money {
  background-image: url("../imgs/money-about.svg");
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
}
section#about div.small-box:nth-child(2) div.about-small-box {
  position: relative;
}
section#about div.small-box:nth-child(2) div.no-money {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
div.small-box:nth-child(2) div.no-money div.lines {
  position: absolute;
  height: 0.5em;
  width: 7em;
  background-color: red;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  animation: loadingEnergy 0.8s ease-in-out infinite alternate;
}
div.small-box:nth-child(2) div.no-money div.lines:nth-child(1) {
  transform: rotate(-45deg);
}
div.small-box:nth-child(2) div.no-money div.lines:nth-child(2) {
  transform: rotate(45deg);
}
section#about div.small-box:nth-child(3) div.text-about {
  flex-basis: 100%;
}
@keyframes loadingEnergy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
