@import url("about-small-boxes.css");
section#about {
  opacity: 0;
  min-height: 100vh;
  transition: 0.5s;
}
section#about.loaded {
  opacity: 1;
}
section#about h2 {
  text-align: center;
  padding: 50px 5px 0;
}
section#about div#about-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 130vh;
  justify-content: space-evenly;
}
section#about div.small-box {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: white;
  box-shadow: 0 8px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
section#about div.small-box div.text-about {
  flex-basis: 45%;
  padding: 20px;
  font-weight: 500;
}
div.text-about span {
  font-weight: 700;
}
section#about div.small-box div.about-small-box {
  flex-basis: 55%;
  display: flex;
}
