@import url("nav-bar.css");
@import url("main-section.css");
@import url("about-section.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, sans-serif;
}
body {
  opacity: 0;
  transition: 0.4s;
}
body.loaded {
  opacity: 1;
}
div#main-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
div#main-container div#scrollTop {
  position: fixed;
  bottom: -100px;
  right: 20px;
  transition: 0.3s;
}
div#main-container div#scrollTop.active {
  bottom: 20px;
}
div#main-container div#scrollTop i {
  font-size: 32px;
}
