main {
  position: relative;
  height: 90vh;
  background-image: url("../imgs/main-section-img.jpg");
  background-size: cover;
  margin-top: 10vh;
  animation: slide 60s linear infinite alternate;
}
main:before {
  background-color: black;
  height: 100%;
  width: 100%;
  content: "";
  opacity: 0.4;
  position: absolute;
  display: block;
}

section#description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}
section#description h1 {
  font-size: 36px;
  padding-bottom: 20px;
}
section#description h2 {
  color: rgb(15, 74, 15);
  padding-left: 5px;
}
section#description h4 {
  font-weight: 500;
  padding: 10px 0 20px 5px;
}
div#main-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  margin: 10px;
  transition: 0.3s;
}
div#main-buttons button:nth-child(1) {
  background-color: rgb(15, 74, 15);
  color: #ffffff;
}
div#main-buttons button:active {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 0 8px 0 black;
}
@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -50vw;
  }
}
